.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 50px 100px;
    color: #122D52;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    opacity: 0;
    animation: title 1.5s forwards;
}

.handbookContainer {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    animation: title 1.5s forwards;
}

.blockBachelorContainer a, .blockMagistracyContainer a, .blockSpecialtyContainer a {
    min-width: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 20px;
    font-family: monospace;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    transition: .2s;
}

.blockBachelorContainer a:hover, .blockMagistracyContainer a:hover, .blockSpecialtyContainer a:hover {
    background-position: 0 100%;
    color: white;
}

.blockBachelorContainer a:hover img, .blockMagistracyContainer a:hover img, .blockSpecialtyContainer a:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(276deg) brightness(103%) contrast(101%);
}



.blockBachelorContainer a {
    border-color: #31EC56;
    background-image: linear-gradient(transparent 50%, #31EC56 50%);
}

.blockMagistracyContainer a {
    border-color: #EF036C;
    background-image: linear-gradient(transparent 50%, #EF036C 50%);
}

.blockSpecialtyContainer a {
    border-color: #EE72F8;
    background-image: linear-gradient(transparent 50%, #EE72F8 50%);
}

#bachelorLogo, #magistracyLogo, #specialtyLogo {
    width: 100px;
}

@keyframes title {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

