.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 50px 100px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    opacity: 0;
    animation: title 1.5s forwards;
}

.handbookContainer {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    animation: title 2.5s forwards;
}

.blockBachelorContainer a, .blockMagistracyContainer a, .blockSpecialtyContainer a {
    min-width: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
}

.blockBachelorContainer a {
    border-color: #31EC56;
}

.blockMagistracyContainer a {
    border-color: #EF036C;
}

.blockSpecialtyContainer a {
    border-color: #EE72F8;
}

#bachelorLogo, #magistracyLogo, #specialtyLogo {
    width: 100px;
}

@keyframes title {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

