@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.header {
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_user {
    display: flex;
    align-items: center;
}

.page {
    max-width: 1440px;
    margin: 15px auto;
}

.mainPage {
}

.mainPage_lk {
    margin: 15px 0;
    height: 500px;
    display: flex;
    border-radius: 12px;
}

.mainPage_lk_item {
}

.mainPage_lk_item_button {
    border-radius: 12px !important;
    padding: 10px 30px !important;
}

.mainPage_lk_item + .mainPage_lk_item {
    margin-left: 10px;
}

.login{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    padding: 50px 60px !important;
    border-radius: 12px;
    border: 2px solid #21ADE4;
}

.login_title{
    font-size: 30px;
    margin-bottom: 15px;
}

.createTest {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 15px auto;
}

.createTest_main {
    margin: 12px 0;
    border: 1px solid rgba(0, 108, 196, 0.1);
    box-shadow: -1px -1px 18px -3px rgba(8, 119, 206, 0.2);
    border-radius: 12px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.createTest_main_input + .createTest_main_input {
    margin-top: 10px;
}

.createTest_list {
    display: flex;
    flex-direction: column;
}

.createTest_list_question {
    border-radius: 12px;
    width: 100%;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.26);
}

.createTest_list_question + .createTest_list_question {
    margin-top: 15px;
}

.createTest_list_question_main {

}

.question {
}

.question_list {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
}

.question_list_answer{
    width: 49%;
    padding: 5px;
    display: flex;
}

.question_list_answer-radio {
    margin: 0 5px 0 0 !important;
}

.question_list_answer-iconButton {
    width: 50px;
}

@media (max-width: 1040px) {
    .question_list_answer {
        width: 100%;
    }
}

@media (max-width: 1440px) {
    .interactive_question_answers_item {
        width: 100% !important;
    }
}

.interactive{

}

.interactive_question{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 0px rgba(18, 45, 82, 0.5);
    padding: 5px;
    padding-top: 0;
    position: relative;
}

.interactive_question + .interactive_question {
    margin-top: 30px !important;
}

.interactive_question_info {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 170px;
}

.interactive_question_text {
    font-size: 18px;
    margin-left: 10px;
    padding: 10px 0px;
    margin-right: 170px;
}

.interactive_question_scores {
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: none;
}

.interactive_question_answers{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
}

.interactive_question_answers_item{
    width: 49%;
    display: flex;
    border: 1px solid #21ADE4;
    border-radius: 12px;
    margin: 5px;
    align-items: center;

}

.interactive_question_answers_item-selected {
    background-color: rgba(33, 173, 228, 0.2);
}

.interactive_question_answers_item-point {
    margin: 0 5px 0 0 !important;
    width: 100%;
    padding: 5px;
}